apache-beam==2.40.0
certifi==2022.12.7
charset-normalizer==2.1.0
cloudpickle==2.1.0
crcmod==1.7
dill==0.3.1.1
docopt==0.6.2
fastavro==1.5.4
grpcio==1.47.0
hdfs==2.7.0
httplib2==0.20.4
idna==3.3
numpy==1.22.4
orjson==3.7.11
proto-plus==1.20.6
protobuf==3.20.1
pyarrow==7.0.0
pydot==1.4.2
pymongo==3.12.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.1
six==1.16.0
typing_extensions==4.3.0
urllib3==1.26.11
apache-beam==2.40.0
certifi==2022.12.7
charset-normalizer==2.1.0
cloudpickle==2.1.0
crcmod==1.7
dill==0.3.1.1
docopt==0.6.2
fastavro==1.5.4
grpcio==1.47.0
hdfs==2.7.0
httplib2==0.20.4
idna==3.3
numpy==1.22.4
orjson==3.7.11
proto-plus==1.20.6
protobuf==3.20.1
pyarrow==7.0.0
pydot==1.4.2
pymongo==3.12.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.1
six==1.16.0
typing_extensions==4.3.0
urllib3==1.26.11
